:root {
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --start-screen-gradient-background: #211f20;
    --footer-gradient-background: #211f20;

    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--font-family);
}

img {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    --font-family: "Georgia", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    background: url(../img/bg/noise_transparent.png), url(../img/bg/start-screen-gradient-background.png);
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
}

.logo__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.logo__subtitle {
    padding-top: 5px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}

.nav {}

.nav__list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.nav__item {
    font-family: var(--second-family);

    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    border-bottom: 3px solid transparent;
    padding-bottom: 6px;
    transition: all 0.3s;
}

.nav__item:hover {
    border-color: var(--color-primary);
}

.nav__link {
    font-family: var(--second-family);

    color: var(--color-light-s);
}

.hero_content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.hero__desc {

    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 460px;
}

.title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
    margin-bottom: 60px;
    margin-top: 400px;
}

.paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
    margin-bottom: 40px;
}

.hero__paragraph {}

.btn {
    display: block;
    background: var(--color-primary);
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: var(--color-dark-3xl);
}

.hero__btn {}

.hero__img-wrap {}

.hero__img {

    height: 728px;
}

.main {}

.container {
    display: flex;
}

.main__img-wrap {}

.main__img {}

.main__content {}

.main__title {}

.main__desc {}